* {
    margin: 0;
    padding: 0;
    border: 0;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
 
.background {
    background: rgb(192, 188, 184);
    background-blend-mode: darken;
    background-size: cover;
}
 
.footer {
background-color: #000;
}
 
.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 65px;
    border-radius: 50px;
}
 
.nav-list li {
    list-style: none;
    padding: 30px 15px;
}
 
.nav-list li a {
    text-decoration: none;
    color: #000;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightnav {
    width: 30%;
    text-align: right;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 9px;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.userInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-big {
    font-weight: 500;
font-family: 'Segoe UI', Tahoma, geneva, Verdana, sans-serif;
    font-size: 30px;
}

.section {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(94, 99, 131);
    justify-content: space-between;
}

.btn {
    margin-left: 20px;
    height: 33px;
    width: 70px;
        color: #fff;
    background-color: #000;
        cursor: pointer;
    }
     
    .btn-sm {
        padding: 6px 10px;
        vertical-align: middle;
    }

    
    
    
    
#Calendar {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "DINPro", "Helvetica Neue", sans-serif;
    padding: 3rem;
    margin: 0;
    background: rgb(94, 99, 131);
    box-sizing: border-box;
    height: 100vh;

    }

.outer {
    position:relative;
    }

.calendar {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }

.wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 1000px;
    height: 350px;
    border-radius: 8px;
    }

thead {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

thead th {
    text-align: center;
    width: 100%;
    }

header {
    background: rgb(192, 188, 184);
    padding: 1rem;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    }

header h1 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: normal;
    }

tbody {
    position: relative;
    }

table {
    background: rgb(192, 188, 184);
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    }

thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    }

thead {
    z-index: 2;
    background: rgb(192, 188, 184);
    border-bottom: 2px solid black;    
    }
    
td {
    text-align: center;
    }

tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
    }

tbody tr td {
    position: relative;
    vertical-align: top;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
    }

.checkbox + label {
    border: 0;
    outline: 0;
    width: 100px;
    height: 100px;
    background: white;
    color: transparent;
    display:block;
    display: none;
    }

.event {
    background: #3c9185;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.875rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
    }

.event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background: #00B4FC;
    }
   
td:hover:after {
    vertical-align: middle;
    font-size: 1.875rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    }
